# Mengabaikan berkas sampah sistem bawaan komputer & lokal python
__pycache__/
*.py[cod]
mlops-tfx/
.ipynb_checkpoints/

# Sesi 2 & 3: Mengabaikan berkas database metadata dan cache raksasa TFX
*.db
*.db-journal
pipelines/
metadata/